@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2015, 3:07:46 PM
    Author     : Nick Mariani
*/

html {
    height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
}

.button {
    cursor: pointer;
    //width: 100%;
    display: inline-block;
    min-height: 1.5em;
    padding: 12px 36px;
    margin: 5px 5px 5px 0px;
    color: #FFF;
    background: #434343;
    font-size: 1em;
}

.button:hover {

}

.button:active {

}

div {        
    text-align: center;
}

body {
    background-color: skyblue !important;
}