@charset "UTF-8";
/**
 * @author Shaan Menon
 * @group StackQueue
 * @date 27/11/2015
 * 
 * Style sheet for layout of the login page
 * 
 */
html {
    height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
}

.button {
    cursor: pointer;
    //width: 100%;
    display: inline-block;
    min-height: 1.5em;
    padding: 12px 36px;
    margin: 5px 5px 5px 0px;
    color: #FFF;
    background: #434343;
    font-size: 1em;
}

.button:hover {
    
}

.button:active {
    
}

body{
     background: skyblue !important;
}

div{
    text-align: center; 
}