/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2015, 1:54:15 AM
    Author     : Nick
*/

html {
    height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
}

.button {
    cursor: pointer;
    //width: 100%;
    display: inline-block;
    min-height: 1.5em;
    padding: 12px 36px;
    margin: 5px 5px 5px 0px;
    color: #FFF;
    background: #434343;
    font-size: 1em;
}

.button:hover {

}

.button:active {

}

div {        
    text-align: center;
}

body {
    background-color: skyblue !important;
}

#place{
    font-size: 30px;
    width: 25%;
    text-align: center;
}

#name{    
    font-size: 30px;
    width: 50%;
    text-align: center;
}

#time{
    font-size: 30px;
    width: 25%;
    text-align: center;
}

#content{
    text-align: center;
}

#table th, tr {
    background-color: turquoise !important;
    border: 2px solid black;
}

#buttonBox{
    text-align: center;
}